@import url('href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap"');
/* reset css */
*
{
    margin: 0;
    padding: 0;
}

/* *:root
{
    font-size: 5px;
} */

html, body
{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.container
{
    display: grid;
    grid-template-columns: [full--start] 0.6fr [center--end center--start] 0.4fr [full--end];
    grid-template-rows: repeat(6, min-content);
}


/* start of desktop section */
/** ********************* **/

/* set up navbar for the desktop */
.desktop-nav
{
    grid-column: full--start/ full--end;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.logo
{
    height: 2rem;
    width: auto;
    padding-left: 1.5rem;
}

.logo-name
{
    font-size: 1rem;
    text-transform: uppercase;
}

.logo-name-bold
{
    font-weight: bold;
    color: #484848;
}

.logo-name-thin
{
    font-weight: 400;
    color: #aaa;
}

.nav-list
{
    list-style-type: none;
    display: flex;
}

/* setup navigation links */
.nav-link
{
    display: inline-block;
    color: #828282;
    font-size: 0.8rem;
    text-decoration: none;
}

.desktop-nav > a
{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child)
{
    margin-right: 1em;
}

.nav-item:last-child
{
    margin-right: 1.5rem;
}

.header-picture
{
    background-color: #c8c8c8;
    display: flex;
}

.header-picture img
{
    width: 100%;
    height: auto;
    padding: 2rem 0 2rem 1.5rem;
}

.header-content
{
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}

.header-content div h1
{
    font-size: 1.4rem;
    color: #484848;
}

.header-content div h2
{
    font-size: 0.8rem;
    font-weight: 500;
    color: #484848;
    padding: 1rem 0;
}

.header-content div
{
    display: block;
    width: 80%;
}

.header-content div a
{
    display: block;
    width: 100%;
    align-self: stretch;
    margin: 1rem auto;
    text-decoration: none;
    background-color: #484848;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    text-align: center;
}

/* hover effect for call to action link */
.header-content div a:hover
{
    background-color: rgb(72, 72, 72, 0.5);
}

.header-content div a:visited, .header-content div a:active
{
    color: #fff;
    text-decoration: none;
    background-color: #484848;
}

/* start of practice section */

.practice
{
    background-color: #f0f0f0;
    padding: 2rem 1.5rem;
}

.practice img
{
    width: 100%;
    height: auto;
}

.practice h3
{
    padding: 2rem 0;
    color: #484848;
}

.practice p
{
    font-size: small;
    color: #484848;
}

.quote-name
{
    display: block;
    margin: 2rem 0;
}

.events
{
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 1rem;
    border-left: 1px solid #e7e7e7;
}

.event-block
{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: small;
}

.event-block img
{
    width: 100%;
    height: auto;
    padding: 1rem;
}

.event-block-content
{
    margin: 0 2rem;
}

.event-block-content h4
{
    font-size: 1rem;
}

.event-block-content p
{
    font-size: 0.8rem;
    padding: 0.25rem 0;
}

.event-block-content a:link
{
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}

.event-block-content a:visited, 
.event-block-content a:active
{
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}

.event-block:last-child
{
	background-color:#cecbcb;
}

/* start learning section */

.learning
{
    grid-column: full--start / full--end;
    height: auto;
    background-color: #eaebec;
}

.learning h2
{
    display: flex;
    padding: 2rem 0 0 0;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 900;
    color: #4A4A4A;
}

.learning img
{
    display: block;
    width: 100%;
    height: auto;
}

.learning-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    margin: 2rem 4.5rem;
}

.learning-block
{
    background-color: #fff;
}

.learning-block h4, .learning-block p, .learning-block .capitalize
{
    padding: 0 1rem;
}

.learning-block p
{
    font-weight: 100;
    font-size: small;
    color: #767676;
}

.learning-block a
{
    text-decoration: none;
}

.learning-block .capitalize
{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.learning-block h4
{
    color: #4A4A4A;
    padding: 1rem;
/*     white-space: nowrap; */
}

.learning-block p:last-child
{
    padding-bottom: 1.5rem;
}

/* end of learning section */

/* start of thesis section */
.thesis
{
    grid-column: full--start / full--end;
    padding: 2rem 1.5rem;
}

.thesis h2
{
    display: flex;
    padding: 0 0 2rem 0;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 900;
    color: #4A4A4A;
}

.thesis-container
{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

.thesis-left
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1.5rem;
}


.thesis-left video
{
    width: 100%;
}

.thesis-left h3
{
    padding: 1.5rem 0 0.5rem 0;
    color: #484848;
}

.thesis-left p
{
    font-size: small;
    color: #767676;
}

.thesis-right
{
    display: grid;
    grid-template-rows: repeat( 3 / 1fr);
    grid-column: 0.4fr 0.6fr;
}

.thesis-event-block
{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    font-size: small;
}

.thesis-event-block img
{
    width: 100%;
    height: auto;
    padding: 1rem;
}

.thesis-event-block-content
{
    margin: 1rem;
}

.thesis-event-block-content h4
{
    font-size: 1rem;
    color: #4A4A4A;
    padding-left: 1rem;
}
     
.thesis-event-block-content p
{
    font-size: 0.8rem;
    padding: 1rem;
    color: #767676;
}

.thesis-event-block:first-child
{
	background-color:#cecbcb;
}

/* end of thesis section */

/* start of footer section */
footer 
{
    display: flex;
    font-size: 0.8rem;
    grid-column: full--start / full--end;
    padding: 1rem 0 1.5rem 1.5rem;
    border-top: 1px solid #e0e2e2;
}

footer p 
{
    margin-right: auto;
}

footer ul 
{
    list-style: none;
    display: flex;
    margin-right: 1.5rem;
}

footer ul li 
{
    margin-right: 1.5rem;
}   


footer ul li:not(:last-child) 
{
    margin-right: 1rem;
}   

footer a:link 
{
    text-decoration: none;
    color: #828282;
}


footer a:visited 
{
    color: #828282;
}

footer a:hover 
{
    color: orange;
}

/* end of footer section */
/** ********************* **/
/* end of desktop section */

/* start of mobile section */
/** ********************* **/

.mobile-nav
{
    display: none;
}

.events-mobile
{
    display: none;
}

.learning-mobile
{
    display: none;
}
/* if width of screen is 640px or less */
@media screen and (max-width: 40rem) 
{
    .mobile-nav
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 4rem;
        grid-column: full--start / full--end;
    }
    .desktop-nav
    {
        display: none;
    }
    .container
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    /* start of mobile header */
    .header-picture img
    {
        padding: 0;
        width: 100%;
        object-fit: cover;
    }

    .header-content
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 2rem 1rem 2rem 1rem;
    }

    .header-content div h1
    {
        padding: 0 0 2rem 0;
        font-size: xx-large;
    }

    .header-content div h2 
    {
        padding: 0 0 1.5rem 0;
        font-size: larger;
    }

    .header-content div
    {
        display: block;
        width: 100%;
    }

    .header-content div a
    {
        display: block;
        width: 100%;
        align-self: stretch;
        text-decoration: none;
        background-color: rgb(72, 72, 72, 0.5);
        color: #fff;
        font-size: 1rem;
        text-align: center;
    }

    .header-content div a:hover
    {
        background-color: rgb(48, 48, 48, 0.5);
    }

    .header-content div a:visited, .header-content div a:active
    {
        color: #fff;
        text-decoration: none;
        background-color: #484848;
    }
    /* end of mobile header */
    /* start of mobile practice */
    .practice
    {
        display: none;
    }

    .events
    {
        display: none;
    }

    .events-mobile
    {
        display: grid;
        padding: 1rem;
    }

    .events-mobile .event-block
    {
        grid-template-columns: 1fr;
    }

    .events-mobile .event-block img 
    {
        padding: 0;
    }

    .events-mobile .event-block-content
    {
        padding: 2rem 0 2rem 1rem;
        margin: 0;
    }

    .event-block:last-child
{
	background-color: #fff;
}
    /* end of mobile practice */
    /* start of learning */
    .learning-container
    {
        display: none;
    }

    .learning-mobile
    {
        display: flex;
        width: 100%;
        flex-direction: column;
        font-size: large;
    }

    .learning h2 
    {
        background-color: #fff;
        padding-bottom: 1rem;
    }

    .learning-mobile ul 
    {
        list-style-type: none;
        margin: 0 1rem 0 1rem;
    }

    .learning-mobile ul li 
    {
        padding: 1rem 0 1.5rem 1rem;
        margin-top: 0.5rem;
        background-color: #D8D8D8;
    }

    .learning-mobile ul li:last-child
    {
        margin-bottom: 2rem;
    }

    .learning-mobile ul li a 
    {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        color: #484848;
    }
    /* end of learning */
    /* start of thesis */
    .thesis h2
    {
        border-top: 1px solid #e7e7e7;
        padding-top: 2rem;
    }

    .thesis-left h3, .thesis-left p 
    {
        display: none;
    }

    .thesis-right
    {
        display: none;
    }
    
    .thesis-left 
    {
        padding: 0;
        grid-column: full--start / full--end;
        height: auto;
    }

    /* end of thesis */
    /* start of mobile footer */

    footer a 
    {
        display: none;
    }
    
    footer 
    {
        padding-top: 1.5rem;
        border: none;
    }

    footer p 
    {
        font-size: medium;
    }
    /* end of mobile footer  */
}
/** ********************* **/
/* end of mobile section */
